*{
    font-family: Helvetica;
}

:root {
    --red: #ED1946;
    --blue: #69A3FF;
    --orange: #FF9632;
    --light-gray: #F1F1F1;
    --gray-divider: #EBEBEB;
    --gray: #B4B4B4;
    --dark-gray: #737C84;
}